# Input and Output
- leer y escribir archivos de excel y otros

In [13]:
import pandas as pd

In [32]:
# url a utilizar
url= "https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv"

# nombres de bebes rankeados en NY city

In [14]:
baby_names = pd.read_csv(url)
baby_names.head()

   Year of Birth  Gender Ethnicity Child's First Name  Count  Rank
0           2011  FEMALE  HISPANIC          GERALDINE     13    75
1           2011  FEMALE  HISPANIC                GIA     21    67
2           2011  FEMALE  HISPANIC             GIANNA     49    42
3           2011  FEMALE  HISPANIC            GISELLE     38    51
4           2011  FEMALE  HISPANIC              GRACE     36    53

In [38]:
# exportando
baby_names.to_csv("nombresbebes.csv", index=False, columns=["Year of Birth", "Child's First Name", "Count"])
# por defecto en la misma ruta del jupyter notebook

### para archicos excel se necesita otra libreria 
- openpyxl

## Import excel file into pandas

-  la función `read_excel` obtiene un archivo excel ó workbook en un DataFrame
- el parámetro <code>sheet_name</code> se utiliza cuando un archivo contine múltiples hojas, se le entrega un worksheet ó una lista de nombres/ index positions
- Podemos entregar el argumento  <code>None</code> al parámetro <code>sheet_name</code> para INCLUIR TODOS LOS WORKSHEETS
- Pandas almacenará múltiples worksheets en un diccionario python, las llaves serán los nombres de las hojas y los valores seran Dataframes

In [42]:
pd.read_excel("Data - Single Worksheet.xlsx")

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F

In [43]:
# si importamos un archivo con multiples hojas, solo traeremos la primera
pd.read_excel("Data - Multiple Worksheets.xlsx")

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F

In [51]:
# parámetro sheet_name se usa con múltiples hojas
pd.read_excel("Data - Multiple Worksheets.xlsx",sheet_name="Data 1")
pd.read_excel("Data - Multiple Worksheets.xlsx",sheet_name="Data 2")
pd.read_excel("Data - Multiple Worksheets.xlsx",sheet_name=0)
pd.read_excel("Data - Multiple Worksheets.xlsx",sheet_name=1)


#resultado en diccionarios -> sheet_name["Data 1", "Data 2"]
pd.read_excel("Data - Multiple Worksheets.xlsx",sheet_name=[0,1])
# podemos verificar con 
#type(pd.read_excel("Data - Multiple Worksheets.xlsx",sheet_name=[0,1]) )

# usando None
pd.read_excel("Data - Multiple Worksheets.xlsx",sheet_name=None)

{'Data 1':   First Name Last Name           City Gender
 0    Brandon     James          Miami      M
 1       Sean   Hawkins         Denver      M
 2       Judy       Day    Los Angeles      F
 3     Ashley      Ruiz  San Francisco      F
 4  Stephanie     Gomez       Portland      F,
 'Data 2':   First Name Last Name           City Gender
 0     Parker     Power        Raleigh      F
 1    Preston  Prescott   Philadelphia      F
 2    Ronaldo   Donaldo         Bangor      M
 3      Megan   Stiller  San Francisco      M
 4     Bustin    Jieber         Austin      F}

In [57]:
# trabajando con el diccionario
# necesitamos saber los nombres de las hojas o keys
data = pd.read_excel("Data - Multiple Worksheets.xlsx",sheet_name=None)

data["Data 1"]
data["Data 2"]

# en adelante podemos usar un merge o otras funciones de pandas

  First Name Last Name           City Gender
0     Parker     Power        Raleigh      F
1    Preston  Prescott   Philadelphia      F
2    Ronaldo   Donaldo         Bangor      M
3      Megan   Stiller  San Francisco      M
4     Bustin    Jieber         Austin      F

## Export files form pandas 
- la clase <code> ExcelWriter </code> puede escribir uno o más DF en un archivo excel
- utiliza un manager de contexto (the <code> with </code> keyword) en combinanción con el objeto <code>ExcelWriter </code> y una variable asignada
- invocar al método <code>to_excel</code> en cada DF a incluir en el libro excel, y entregando el objeto <code>ExcelWriter</code> como primer argumento
- el método <code>to_excel </code> soporta los parámetros <code>sheet_name</code>, <code>index</code> y <code>columns</code>

In [58]:
url= "https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv"
baby_names=pd.read_csv(url)
baby_names.head()

   Year of Birth  Gender Ethnicity Child's First Name  Count  Rank
0           2011  FEMALE  HISPANIC          GERALDINE     13    75
1           2011  FEMALE  HISPANIC                GIA     21    67
2           2011  FEMALE  HISPANIC             GIANNA     49    42
3           2011  FEMALE  HISPANIC            GISELLE     38    51
4           2011  FEMALE  HISPANIC              GRACE     36    53

In [65]:
# guardaremos el archivo en dos hoja, según género

#primero filtramos
female=baby_names[baby_names["Gender"]=="FEMALE"]
male=baby_names[baby_names["Gender"]=="MALE"]

male.head()

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
363,2013,MALE,HISPANIC,Jared,25,80
416,2013,MALE,HISPANIC,Jariel,25,80
547,2011,MALE,ASIAN AND PACIFIC ISLANDER,AARAV,15,51
548,2011,MALE,ASIAN AND PACIFIC ISLANDER,AARON,51,19
549,2011,MALE,ASIAN AND PACIFIC ISLANDER,ABDUL,20,46

In [66]:
# excel writer
# este manager cierra el archivo despues de escribirlo, otras funciones no lo hacen automaticamente 
# with-> con "este archivo" designado como "variable" quiero:
with pd.ExcelWriter("NYC baby names.xlsx") as excel_file:
    female.to_excel(excel_file, sheet_name="Females", index=False)
    male.to_excel(excel_file,sheet_name="Males",index=False, columns=["Year of Birth","Child's First Name", "Count"] )