In [2]:
import pandas as pd

In [3]:
ice_cream = ["Chocolate","Vainilla","Berry","Manjar"]

pd.Series(ice_cream)

0    Chocolate
1     Vainilla
2        Berry
3       Manjar
dtype: object

In [3]:
lottery = [4,8,15,16,23,42]

pd.Series (lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [6]:
registrations=[True,False]

pd.Series(registrations)

0     True
1    False
dtype: bool

In [11]:
sushi ={
    "Salmon":"Orange",
    "Tuna":"Red",
    "Eel": "Brown"
}

pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

In [17]:
sushi_dic = pd.Series(sushi)

In [18]:
otra_serie = pd.Series ( [1,2,3])

In [19]:
otra_serie

0    1
1    2
2    3
dtype: int64