# SECTION 9:GroupBy

In [1]:
import pandas as pd

In [7]:
# fortune 1000 dataset
fortune =pd.read_csv("fortune1000.csv")

# the groupby object


- éste método retorna un objeto DataFrameGroupby
- el objecto DataFrameGroupby puede realizar operaciones de aggregación en cada grupo

In [5]:
fortune =pd.read_csv("fortune1000.csv")
fortune.head()

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [16]:
# sum of revenue for each sector

fortune.groupby("Sector")

#asignamos
sectors = fortune.groupby("Sector")
sectors
# se ha creado un DF para cada sector existente en la columna

In [19]:
len(sectors)
# entrega la cantidad de sectores

21

In [23]:
sectors.size()
#entrega la cantidad de empresas en cada sector

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [25]:
sectors.first()
# entrega cada uno de los sectores y solo una empresa (la primera)

,Rank,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,,
Aerospace & Defense,24,Boeing,Aerospace and Defense,"Chicago, IL",96114,5176,161400
Apparel,91,Nike,Apparel,"Beaverton, OR",30601,3273,62600
Business Services,144,ManpowerGroup,Temporary Help,"Milwaukee, WI",19330,419,27000
Chemicals,56,Dow Chemical,Chemicals,"Midland, MI",48778,7685,49495
Energy,2,Exxon Mobil,Petroleum Refining,"Irving, TX",246204,16150,75600
Engineering & Construction,155,Fluor,"Engineering, Construction","Irving, TX",18114,413,38758
Financials,4,Berkshire Hathaway,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
Food and Drug Stores,7,CVS Health,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
"Food, Beverages & Tobacco",41,Archer Daniels Midland,Food Production,"Chicago, IL",67702,1849,32300
Health Care,5,McKesson,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
"Hotels, Resturants & Leisure",109,McDonald’s,Food Services,"Oak Brook, IL",25413,4529,420000
Household Products,34,Procter & Gamble,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
Industrials,11,General Electric,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
Materials,126,Alcoa,Metals,"New York, NY",22534,-322,60000
Media,53,Disney,Entertainment,"Burbank, CA",52465,8382,185000
Motor Vehicles & Parts,8,General Motors,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
Retailing,1,Walmart,General Merchandisers,"Bentonville, AR",482130,14694,2300000
Technology,3,Apple,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
Telecommunications,10,AT&T,Telecommunications,"Dallas, TX",146801,13345,281450
Transportation,48,UPS,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
Wholesalers,57,Sysco,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [27]:
sectors.last()
# entrega cada uno de los sectores y solo una empresa (la última)

,Rank,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,,
Aerospace & Defense,987,Delta Tucker Holdings,Aerospace and Defense,"McLean, VA",1923,-133,12000
Apparel,917,Guess,Apparel,"Los Angeles, CA",2204,82,13500
Business Services,993,DeVry Education Group,Education,"Downers Grove, IL",1910,140,11770
Chemicals,949,H.B. Fuller,Chemicals,"St. Paul, MN",2084,87,4425
Energy,997,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
Engineering & Construction,994,MDC Holdings,Homebuilders,"Denver, CO",1909,66,1225
Financials,996,New York Community Bancorp,Commercial Banks,"Westbury, NY",1902,-47,3448
Food and Drug Stores,928,Fred’s,Food and Drug Stores,"Memphis, TN",2151,-7,7103
"Food, Beverages & Tobacco",954,Alliance One International,Tobacco,"Morrisville, NC",2066,-15,6835
Health Care,978,Providence Service,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
"Hotels, Resturants & Leisure",999,Wendy’s,Food Services,"Dublin, OH",1896,161,21200
Household Products,992,Revlon,Household and Personal Products,"New York, NY",1914,56,5700
Industrials,1000,Briggs & Stratton,Industrial Machinery,"Wauwatosa, WI",1895,46,5480
Materials,986,Schnitzer Steel Industries,Metals,"Portland, OR",1924,-197,2955
Media,989,Cenveo,"Publishing, Printing","Stamford, CT",1921,-31,7300
Motor Vehicles & Parts,979,Allison Transmission Holdings,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
Retailing,973,99 Cents Only Stores,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
Technology,990,F5 Networks,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
Telecommunications,786,Equinix,Telecommunications,"Redwood City, CA",2726,188,5042
Transportation,974,Roadrunner Transportation Systems,Transportation and Logistics,"Cudahy, WI",1995,48,4502
Wholesalers,991,BlueLinx Holdings,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600

# Retrive a group with the get_group method

- el método get_group en el objeto DFGBy entrega uno de los DF anidados perteneciente a un grupo/categoría específica

In [30]:
#ejemplos:
sectors.get_group("Technology")
sectors.get_group("Energy")

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
13,14,Chevron,Energy,Petroleum Refining,"San Ramon, CA",131118,4587,61500
29,30,Phillips 66,Energy,Petroleum Refining,"Houston, TX",87169,4227,14000
31,32,Valero Energy,Energy,Petroleum Refining,"San Antonio, TX",81824,3990,10103
41,42,Marathon Petroleum,Energy,Petroleum Refining,"Findlay, OH",64566,2852,45440
...,...,...,...,...,...,...,...,...
980,981,WPX Energy,Energy,"Mining, Crude-Oil Production","Tulsa, OK",1958,-1727,1040
982,983,Adams Resources & Energy,Energy,Petroleum Refining,"Houston, TX",1944,-1,809
994,995,EP Energy,Energy,"Mining, Crude-Oil Production","Houston, TX",1908,-3748,665
996,997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646

# Methods on the Group by object

- se utilizan brackets en el objeto DFGBy para extraer una columna del DF original
- el obejto SeriesGroupBy tendrá metodos de agregación disponibles
-  pandas ejecutará el cálculo en cada uno de los grupos en su colección
- por ejemplo el método "sum" agupará el total de "revenue" para cada grupo/categoría

In [33]:
sectors["Revenue"]

# entrega un objeto SeriesGroupBy

In [37]:
sectors["Revenue"].sum()

Sector
Aerospace & Defense              357940
Apparel                           95968
Business Services                272195
Chemicals                        243897
Energy                          1517809
Engineering & Construction       153983
Financials                      2217159
Food and Drug Stores             483769
Food, Beverages & Tobacco        555967
Health Care                     1614707
Hotels, Resturants & Leisure     169546
Household Products               234737
Industrials                      497581
Materials                        259145
Media                            220764
Motor Vehicles & Parts           482540
Retailing                       1465076
Technology                      1377600
Telecommunications               461834
Transportation                   408508
Wholesalers                      444800
Name: Revenue, dtype: int64

In [39]:
# equivale a filtrar cada sector y luego ralizar la aggregación ( 21 veces)
mask = fortune["Sector"]== "Apparel"
fortune [mask] ["Revenue"].sum()

95968

In [ ]:
sectors